<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mobiles sold</title>

    <link rel="stylesheet"  href="../../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" />

    <link rel="stylesheet"  href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" type="text/css" />

    <script  href="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">


    <h3>Mobiles Sold</h3>
    <hr>

    <table class="table table-bordered table-stripped">
        <thead class="thead-dark">
        <tr>
            <th>Xiaomi y2</th>
            <th>iphone 11</th>
            <th>celkon</th>
            <th>redmi note 9 pro</th>
            <th>jio</th>
            <th>vivo</th>
            <th>honor</th>
            <th>Samsung j7 prime</th>

        </tr>
        </thead>
        <tbody>


            <td th:text="${y2}"/>
            <td th:text="${iphone}"/>
            <td th:text="${celkon}"/>
            <td th:text="${note}"/>
            <td th:text="${jio}"/>
            <td th:text="${vivo}"/>
            <td th:text="${honor}"/>
            <td th:text="${prime}"/>

        </tbody>
    </table>
</div>
</body>
</html>