<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mobile Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

     <form name="myForm" method="post" th:action="@{/customerRel/saveMobile}">
    <input type="text" class="form-control mb-4 col-4" name="name" required autofocus="autofocus" placeholder="name">
    <input type="password" class="form-control mb-4 col-4" name="password" required autofocus="autofocus" placeholder="password" pla>
    <input type="email" class="form-control mb-4 col-4" name="email" required autofocus="autofocus" placeholder="email">
    <button type="submit " class="btn btn-info col-2">Save</button>


    </div>

</body>

</body>
</html>