<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="../../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" />

    <link rel="stylesheet"  href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" type="text/css" />

    <script  href="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <hr>
    <p class="h4 mb-4">Save Mobile </p>
<form name="myForm" method="post" th:action="@{/customerRel/saveMobile}">
    <input type="text" class="form-control mb-4 col-4" name="mobileName" required autofocus="autofocus" placeholder="Mobile Name">
    <input type="text" class="form-control mb-4 col-4" name="mobileRam" required autofocus="autofocus" placeholder="Mobile Ram " >
    <input type="text" class="form-control mb-4 col-4" name="mobileProcessor" required autofocus="autofocus" placeholder="Mobile Processor">
    <input type="email" class="form-control mb-4 col-4" name="email" required autofocus="autofocus" placeholder="Email who purchased">
    <input type="number" class="form-control mb-4 col-4" name="price" required autofocus="autofocus" placeholder="Price of mobile">
    <button type="submit " class="btn btn-info col-2">Save</button>
</form>
</div>
<hr>
</body>
</html>